/*------------------------------------------------------------------
peru-sv
------------------------------------------------------------------*/
.psv-top-bar{

}
.psv-top-bar a{
  color: gray;
}
.psv-top-bar a:hover{
  text-decoration: underline;
}
.psv-top-bar a.active{
  color: red;
}
.psv-top-bar li{
  display: inline-block;
  margin: 0 20px;
}
.psv-top-bar ul{
  list-style-type: none;
  margin: 0;
  text-align: center;
  line-height: 80px;
}
.psv-cta-header-button {
  right: 15px;
  top: 15px;
  position: absolute;
  width: auto;
  transition: left 300ms ease-out;
  line-height: 50px;
  vertical-align: top;
}
.psv-cta-header-button button{
  padding: 10px 30px;
  border-radius: 4px;
  font-style: normal;
}
.psv-sub-banner{
  background: #2f1d0e;
}
.psv-sub-banner-container{
  color: white;
  text-align: center;
  font-style: normal;
  display: flex;
  justify-content: center;
}
.psv-sub-banner-container p{
  line-height: 160px;
  margin:0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}
.psv-cta-sub-banner-button {
  right: 15px;
  width: auto;
  transition: left 300ms ease-out;
  line-height: 160px;
  margin-left: 20px
}
.psv-cta-sub-banner-button button{
  padding: 10px 30px;
  border-radius: 4px;
  font-style: normal;
}
.peru-sv-slider-wrapper{
  height: 400px;
  background-color: gray;
  color: white;
}
.psv-header-motto {
}
.psv-header-motto p{
  color: white;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
}
.psv-who-we-are-container {

}
.psv-who-we-are-container header {
  text-align: center;
  color: black;
}
.perusv-page-title {
  margin: 50px 0;
}
.perusv-page-title p{
  line-height: 30px;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  color: black;
  text-align: center;
}
.psv-mission-banner-container{
  color: white;
  text-align: left;
  font-style: normal;
  display: flex;
  justify-content: left;
  padding-top: 100px;
  padding-bottom: 150px;
  margin-left: 150px;
}
.psv-mission-banner-container a{
  margin: 0 20px;
}

.psv-mission-header-motto p{
  line-height: 50px;
}
.psv-events-banner-container{
  color: white;
  text-align: left;
  font-style: normal;
  display: flex;
  justify-content: left;
  padding-top: 100px;
  padding-bottom: 150px;
  margin-left: 150px;
}
.psv-events-banner-container a{
  margin: 0 20px;
}

.psv-events-header-motto p{
  line-height: 50px;
}

.psv-page-post {
  display: inline-block;
}

/* peru sv slider styles */

@keyframes slidy {
  0% { left: 0%; }
  40% { left: 0%;  }
  50% { left: -100%;  }
  90% { left: -100%; }
  100% { left: -200%; }
}

.psv-slider-wrapper {
  overflow: hidden;
}

.psv-slider-wrapper .psv-slider-inner-wrapper .psv-slider {
  width: 33.33%; 
  float: left;
}

.psv-slider-wrapper .psv-slider-inner-wrapper { 
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite; 
}

@media only screen and (max-width: 800px) {
    .psv-cta-header-button {
      position: relative;
      line-height: 50px;
      text-align: center;
      top: -10px;
    }
    .psv-cta-sub-banner-button {
      position: relative;
      line-height: 50px;
      top: -10px;
    }
    .psv-sub-banner-container{
      display: block;
    }
    .psv-sub-banner-container p{
      line-height: 80px;
    }
}

/* meetup */

.psv-meetup{
  background: url(./img/meet-up.jpg) center bottom #e8554e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-position: top;
}

/* logic to hide banner on permalink pages */
.single .psv-meetup{
  display: none;
}

.psv-meetup-msg{
  padding-top: 318px;
  padding-bottom: 0px;
  text-align: center;
  color: #FFF;
}

.psv-meetup-msg a{
  color: white;
}

.psv-meetup-msg p{
  background-color: rgba(1,0,0,0.5);
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
}