/*------------------------------------------------------------------
peru-sv
------------------------------------------------------------------*/
.psv-top-bar{

}
.psv-top-bar a{
  color: gray;
}
.psv-top-bar a:hover{
  text-decoration: underline;
}
.psv-top-bar a.active{
  color: red;
}
.psv-top-bar li{
  display: inline-block;
  margin: 0 20px;
}
.psv-top-bar ul{
  list-style-type: none;
  margin: 0;
  text-align: center;
  line-height: 80px;
}
.psv-cta-header-button {
  right: 15px;
  top: 15px;
  position: absolute;
  width: auto;
  transition: left 300ms ease-out;
  line-height: 50px;
  vertical-align: top;
}
.psv-cta-header-button button{
  padding: 10px 30px;
  border-radius: 4px;
  font-style: normal;
}
.psv-sub-banner{
  background: #2f1d0e;
}
.psv-sub-banner-container{
  color: white;
  text-align: center;
  font-style: normal;
  display: flex;
  justify-content: center;
}
.psv-sub-banner-container p{
  line-height: 160px;
  margin:0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}
.psv-cta-sub-banner-button {
  right: 15px;
  width: auto;
  transition: left 300ms ease-out;
  line-height: 160px;
  margin-left: 20px
}
.psv-cta-sub-banner-button button{
  padding: 10px 30px;
  border-radius: 4px;
  font-style: normal;
}
.peru-sv-slider-wrapper{
  height: 400px;
  background-color: gray;
  color: white;
}
.psv-header-motto {
}
.psv-header-motto p{
  color: white;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}